dialog{
    min-height: 100%;
    min-width: 100%;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    -webkit-backdrop-filter: blur(.375rem);
    backdrop-filter: blur(.375rem);
    background-color: rgba(8, 9, 10, .75);
}

dialog:not(dialog[open=""]){
    display: none;
}

dialog .modal-content{
    background-color: rgba(8, 9, 10, 1);
    color: rgb(184, 183, 183);
    padding: 2rem;
    position: relative;
}

dialog .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    stroke: rgb(131, 0, 0);
    cursor: pointer;
}

dialog .modal-close:hover {
    stroke: rgb(73, 0, 0);
}

html.modal-opened {
    overflow: hidden;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes inDown {
    from {
        transform: translate3d(0, -100%, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.inDown {
    animation-name: inDown;
    animation-duration: .4s;
}

.show-modal {
    animation-name: fade;
    animation-duration: .4s;
}
